body {
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilo para el contenedor del catálogo */
#catalog-book {
    width: 800px; /* Ancho total (dos páginas) */
    height: 600px; /* Altura de la página */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo para cada página individual */
.page {
    background-color: white;
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la página */
}